<div class="footer">
<!--	<div class="col-xs-12 col-md-6"> !-->
		Copyright © <a href="http://www.uni.lu" target="_blank">Université du Luxembourg</a> 2018. All rights reserved.
	<!--	</div> !-->
</div>
